/*color variables */
:root{
  --color-primary:#1D2226;
  --color-blue:#6C25FF;
  --color-purple:#6C25FF4B;
   --light-gray: #CBCBCB;
  --body-bg: #F7F8F9;
  --text-gray: #6b6b6b;
}

/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Page layout*/
body{
  font-family: Arial, sans-serif;
  background: white;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  overflow: hidden;
}

/* Mobile frame*/
.mobile-frame{
  width: 280px;
  height: 599px;
  background: #f8f9fb;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px 20px;
  box-sizing: border-box;
}

/* Welcome Page */
.welcome-container{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}


.welcome-content h1{
  font-size:24px;
  font-weight:600;
  color:var(--color-primary);
  margin-bottom:10px;
}

.welcome-content p{
  color:#6b6b6b;
  font-size:14px;
  margin-bottom:24px;
}

/* Buttons */
.create-btn{
  width:100%;
  padding:12px;
  background:var(--color-blue);
  color:white;
  border:none;
  border-radius:6px;
  font-weight:500;
  margin-bottom:10px;
  cursor:pointer;
}

.login-btn{
  width:100%;
  padding:12px;
  background:var(--color-purple);
  color:var(--color-primary);
  border:none;
  border-radius:6px;
  font-weight:500;
  cursor:pointer;
}

/* Create Account Page */
.create-container{
  display:flex;
  flex-direction:column;
  height:100%;
}

.create-container h2{
  font-size:22px;
  font-weight:600;
  color:var(--color-primary);
  margin-bottom:25px;
}

/* Input fields */
.create-container input{
  padding:12px;
  margin-bottom:15px;

  border:1px solid var(--color-light-gray);
  border-radius:6px;

  font-size:14px;
  outline:none;
}

/* Agency radio section */
.agency{
  margin-bottom:20px;
}

.agency p{
  font-size:14px;
  margin-bottom:10px;
}

.agency label{
  font-size:14px;
  margin-right:15px;
}